:root {
    /* --- Primary --- */
  --primary-100: #000;
  --primary-90: #241A00;
  --primary-80: #3E2E00;
  --primary-70: #574500;
  --primary-60: #735C00;
  --primary-50: #917400;
  --primary-40: #AF8D11;
  --primary-30: #CCA730;
  --primary-20: #E9C349;
  --primary-10: #FFE088;
  --primary-10-o-10: rgb(255 224 136 / 10%);
  --primary-1: #FFF;

   /* --- Secondary  --- */
  --secondary-100: #410007;
  --secondary-90: #680011;
  --secondary-80: #92001C;
  --secondary-70: #BB152C;
  --secondary-60: #DF3341;
  --secondary-50: #FF535B;
  --secondary-40: #F88;
  --secondary-30: #FFB3B1;
  --secondary-20: #FFDAD8;
  --secondary-10: #FFEDEB;
  --secondary-1: #fff0ee;

  /* --- Tertiary --- */
  --tertiary-100: #01123a;
  --tertiary-90: #082B72;
  --tertiary-80: #27438A;
  --tertiary-70: #415BA4;
  --tertiary-60: #5B74BE;
  --tertiary-50: #758EDA;
  --tertiary-40: #8FA8F7;
  --tertiary-30: #B4C5FF;
  --tertiary-20: #DBE1FF;
  --tertiary-10: #EEF0FF;
  --tertiary-1: #f5f6fe;

/* --- Neutral --- */
  --neutral-100: #1B1C1C;
  --neutral-90: #303031;
  --neutral-80: #464747;
  --neutral-70: #5E5E5E;
  --neutral-60: #777;
  --neutral-50: #808080;
  --neutral-40: #919190;
  --neutral-30: #ABABAB;
  --neutral-30-o-30: rgb(171 171 171 / 30%);
  --neutral-20: #C7C6C6;
  --neutral-10: #E3E2E2;
  --neutral-1: #F2F0F0;

  /* --- Error --- */
  --color-error: var(--secondary-40);

  /* --- Warning --- */
  --color-warning: var(--primary-30);

  /* --- Text Field color  --- */
  --color-field-text: var(--neutral-20);

  /* --- SHADOWS --- */
  --block-box-shadow: rgb(0 0 0 / 25%) 0 54px 55px,
    rgb(0 0 0 / 12%) 0 -12px 30px,
    rgb(0 0 0 / 12%) 0 4px 6px,
    rgb(0 0 0 / 17%) 0 12px 13px,
    rgb(0 0 0 / 9%) 0 -3px 5px;
  --field-box-shadow: rgb(0 0 0 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;

  /* -- Background -- */
  --bg-form: var(--neutral-100);
  --bg-field: var(--neutral-80);
}
